@import "../../../styles/settings.scss";

.photoBrands {
  height: 100px;
  width: 150px;
  position: relative;
  border: 1px solid $featureBox-border-color;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
