@import "../../../styles/settings.scss";

.photoBrands {
  margin: 10px 10px 0 0;
  height: 100px;
  width: 230px;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;

  img {
    object-fit: cover;
    border: 1px solid $featureBox-border-color;
    // margin-right: 20px;
    // padding: 15px;
  }
}