@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px rgba($menuBar-boxShadow, 0.2);
  background-color: $menuBar-background;

  :global(.container) > :global(.row) {
    height: 84px;
  }
  .wrapper {
    align-items: center;

    .search button {
      transition: $actionDuration;

      &:hover {
        color: $menuBar-background--active;
      }
    }

    .menu {
      display: flex;
      align-self: stretch;

      ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          list-style: none;
          display: flex;
          align-items: stretch;
        }
      }

      a {
        color: $menuBar-text;
        text-transform: uppercase;
        font-size: 12px;
        padding: 1rem;
        border: none;
        border-top: 4px solid $menuBar-background;
        font-weight: 500;
        letter-spacing: 1px;
        transition: $actionDuration;
        background-color: transparent;

        &:hover,
        &.active {
          background-color: $menuBar-background--active;
          color: $menuBar-text--active;
          border-color: $menuBar-background--active;
        }

        &.active {
          border-color: $menuBar-text;
        }
      }
    }

    .dropdown {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .root {
    .wrapper {
      .menu {
        button {
          padding: 10px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .root {
    :global(.container) > :global(.row) {
      height: fit-content;
    }
    .wrapper {
      flex-direction: column;
      align-items: initial;
      margin: 0 auto;
      padding-left: 5rem;

      .search {
        order: 2;

        form {
          width: 552px;

          div {
            width: 50%;
          }
        }
      }

      .menu {
        order: 1;
        width: 100%;

        ul {
          margin: 0;
        }

        button {
          padding: 1rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .root {
    .wrapper {
      padding: 0;

      .menu {
        a {
          padding: 10px;
        }
      }

      .search {
        form {
          width: 469px;
        }
        button {
          color: $menuBar-text;
          text-transform: uppercase;
          font-size: 12px;
          padding: 1rem;
          display: flex;
          align-items: center;
          border-top: 4px solid $menuBar-background;
          font-weight: 500;
          letter-spacing: 1px;

          &:hover,
          &.active {
            background-color: $menuBar-background--active;
            color: $menuBar-text--active;
            border-color: $menuBar-background--active;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .root {
    .wrapper {
      flex-direction: row;
      position: relative;

      .menu {
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 2rem;
        z-index: 9;

        ul {
          flex-direction: column;

          li {
            z-index: 1;

            button {
              width: 100%;
            }
          }
        }

        ul::before {
          position: absolute;
          content: " ";
          display: block;
          width: 100%;
          height: 100%;
          background-color: $menuBar-background;
          box-shadow: 1px 10px 10px 1px $menuBar-boxShadow;
          z-index: 0;
        }
      }

      .visibility {
        visibility: visible;
      }

      .search {
        padding-left: 0;
        padding-right: 10px;

        form {
          width: 90%;
        }
      }

      .dropdown {
        display: block;
        font-size: 1rem;
        width: fit-content;
        order: 2;
        z-index: 9;
        padding-top: 10px;
        border: none;
        background-color: transparent;
      }
    }
  }
}

@media (max-width: 324px) {
  .root {
    .wrapper {
      .search {
        max-width: 50%;
        &.active {
          border-color: $menuBar-text;
        }
      }
    }
  }
}
