@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: #2a2a2a;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: #ffffff !important;
    background-color: $primary;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: #2a2a2a;
    color: #ffffff;
  }
}

.white {
  @extend .main;
  display: block;
  font-size: 13px;
  line-height: 24px;
  width: 120px;
  margin: 0 auto;
  padding: 10px 20px;
  font-weight: 600;
  color: #2a2a2a;
  background-color: white;
}

.long {
  @extend .main;
  display: block;
  width: 100%;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding: 5px 0;
  font-weight: 400;
}