@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $button-background-color;
  color: $button-text-color;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: $button-text-color !important;
    background-color: $button-background-color--hov;
    text-decoration: none;
  }
}
.close{
  color: $color-tigersEye;
  font-size: 18px;
  :hover{
    color: $color-jet;
  }
}
.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline, .favoritue, .compare {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $button-outline-color;
  color: $button-outline-color;
  font-size: 13px;
  line-height: 22px;

  &:active {
    animation: $hover-animationType $actionDuration;
  }

  &:not(.noHover):hover {
    background-color: $button-outline-color;
    color: $button-text-color;
  }
}

.favourite, .compare {
  background-color: $button-fav-background;
  color: $button-fav-color;

  &:not(.noHover):hover {
    background-color: $button-background-color;
    color: $button-background-color--hov;
  }
}

.promotedOutline {
  @extend .outline;
  margin-right: 10px;
}

.white {
  @extend .main;
  display: block;
  font-size: 13px;
  line-height: 24px;
  width: 120px;
  margin: 0 auto;
  padding: 10px 20px;
  font-weight: 600;
  color: #2a2a2a;
  background-color: white;
}

.long {
  @extend .main;
  display: block;
  width: 100%;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding: 5px 0;
  font-weight: 400;
}