@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: #2a2a2a;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: #ffffff !important;
    background-color: $primary;
    text-decoration: none;
  }
}

.carousel {
  @extend .main;
  height: 100px;
  width: 30px;
  justify-content: center;
  padding: 35px 10px;
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: #2a2a2a;
    color: #ffffff;
  }
}

.greenButton {
  @extend .main;
  background-color: forestgreen;
  color: white;
  width: 150px;
  height: 40px;
}

.category {
  display: block;
  width: 100%;
  margin: 0;
  background-color: inherit;
  color: #2a2a2a;
  font-weight: 700;
  font-size: 20px;
  border-top: 3px solid;
  padding: 5px;
  font-size: 15px;
  text-align: center;

  &:not(.noHover):hover {
    color: $primary !important;
    background-color:gray;
    color: #ffffff;
    text-decoration: none;
    border-top: 3px solid $primary;
  }
}

