@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $button-background-color;
  color: $button-text-color;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: $button-text-color !important;
    background-color: $button-background-color--hov;
    text-decoration: none;
  }
}

.carousel {
  @extend .main;
  height: 100px;
  width: 30px;
  justify-content: center;
  padding: 35px 10px;
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline, .favoritue {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $button-outline-color;
  color: $button-outline-color;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: $button-outline-color;
    color: $button-text-color;
  }
}

.favoritue {
  background-color: $color-white;
  color: $color-tigersEye;

  &:not(.noHover):hover {
    background-color: $color-tigersEye;
    color: $color-jet;
  }
}

.greenButton {
  background-color: green;
  color: $color-white;
  width: 150px;
  height: 40px;
}

.category {
  display: block;
  width: 100%;
  margin: 0;
  background-color: inherit;
  color: $color-jet;
  font-weight: 700;
  font-size: 20px;
  border-top: 3px solid;
  padding: 5px;
  font-size: 15px;
  text-align: center;

  &:not(.noHover):hover {
    color: $color-tigersEye !important;
    background-color: $color-PhilippineSilver;
    color: $color-white;
    text-decoration: none;
    border-top: 3px solid $color-tigersEye;
  }
}
