@import "../../../styles/settings.scss";

.root {
  background-color: $companyClaim-background;

  :global(.container) > :global(.row) {
    height: 145px;
  }

  .phoneNumber {
    p {
      margin: 0;
      font-size: 17px;
      line-height: 42px;
      color: $companyClaim-phone;
      font-weight: 500;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 25%;
        top: 100%;
        transform: translateX(-25%);
        width: 0;
        height: 2px;
        background-color: $companyClaim-cardBackground;
        transition: width $actionDuration ease-in-out;
      }

      &:hover::after {
        width: 33%;
      }

      &:hover {
        cursor: pointer;
      }

      .icon {
        font-size: 32px;
        color: $companyClaim-cardBackground;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 0.8rem;
        &:hover {
          animation: $hover-animationType $actionDuration;
        }
      }
    }
  }

  .cart {
    .phoneNumber {
      display: none;
    }
    .cartBox {
      display: inline-block;
      position: relative;
      color: $companyClaim-cartIcon;
      border: none;
      background-color: transparent;

      .cartIcon {
        background-color: $companyClaim-cardBackground;
        width: 55px;
        height: 50px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;

        .icon {
          margin-right: 5px;
        }
      }

      .cartCounter {
        width: 100%;
        padding-left: 10px;
        height: 27px;
        border-radius: 14px;
        background-color: $companyClaim-background;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 14px;
        color: $companyClaim-cardCounter;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(75%, -50%);
      }

      &:hover {
        .cartIcon {
          animation: $hover-animationType $actionDuration;
        }
      }
    }
  }
  .image {
    width: 190px;
  }
}

@media (max-width: 767px) {
  .root {
    .phoneNumber {
      display: none;
    }

    .cart {
      .cartBox {
        transform: translate(0, -30%);
      }

      .phoneNumber {
        position: absolute;
        display: flex;
        text-align: right;
        align-items: right;
        right: 0;
        margin-right: 15px;
        p {
          font-size: 14px;
        }
      }
    }
    .image {
      width: 160px;
    }
  }
}
