@import "../../../styles/settings.scss";

.root {
  margin-bottom: 30px;

  .panelBar {
    margin-bottom: 30px;
    position: relative;
    margin-right: -15px;

    :global(.row) > * {
      border-bottom: 4px solid $newFuriniture-mainUnderline;
    }

    .heading {
      position: relative;
      width: 100%;

      h3 {
        color: $color-tigersEye;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $color-tigersEye;
      }
    }
  }
}

.categoriesButtons {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.buttonActive{
  border-top: 3px solid $color-tigersEye;
}

.fadeIn {
  animation: fadein 1s;
  opacity: 1;
}
.fadeOut {
  animation: fadeout 1s;
  opacity: 0;
}
@keyframes fadein {
  from {opacity: 0;}
  to   {opacity: 1;}
}
@keyframes fadeout {
  from {opacity: 1;}
  to   {opacity: 0;}
}

.mainWrapper {
  position: relative;
  height: 500px;
  background-color: $color-PhilippineSilver;
  margin-bottom: 40px;
  margin-left: 15px;

  .imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-left: 60px solid $color-PhilippineSilver;
      object-position: bottom;
    }
  }
  .smallMenuWrapper {
    display: block;
    position: absolute;
    height: 110px;
    top: 75px;
    margin-left: 7px;
    .actions {
      display: flex;
      flex-direction: column;
      .tooltipHover {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          display: none;
          padding: 6px 0;
          top: 10px;
          left: 50px;
          height: 10px;
          width: 15px;
          transform: rotate(45deg);
          font-size: 12px;
          color: $color-white;
          text-align: center;
          background-color: $color-PhilippineSilver;
        }
        &:hover {
          border: 2px solid $color-tigersEye;
          &::after {
            display: block;
          }
          .tooltip {
            display: block;
          }
        }
        .tooltip {
          position: absolute;
          display: none;
          padding: 8px 0;
          top: 0;
          left: 55px;
          height: 33px;
          width: 130px;
          font-size: 12px;
          color: $color-white;
          text-align: center;
          background-color: $color-PhilippineSilver;
        }
      }
    }
    .actions > * {
      margin: 5px;
    }
  }

  .content {
    position: relative;
    display: block;
    height: 100px;
    width: 250px;
    text-align: center;
    background-color: $color-white;
    box-shadow: 0 5px 15px 0 $color-PhilippineSilver;
    margin-left: 260px;
    margin-top: -120px;
    overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      height: 50px;
      width: 50px;
      top: -25px;
      left: -25px;
      background-color: $color-PhilippineSilver;
      transform: rotate(45deg);
      z-index: 180;
    }
    &:before {
      content: '';
      position: absolute;
      height: 50px;
      width: 50px;
      top: 75px;
      right: -25px;
      background-color: $color-PhilippineSilver;
      transform: rotate(45deg);
      z-index: 110;
    }

    h5 {
      color: $color-black;
      font-size: 20px;
      padding-top: 20px;
    }

  }

  .priceCircle {
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: $color-PhilippineSilver;
    color: $color-tigersEye;
    border-radius: 50%;
    margin-left: 330px;
    margin-top: -190px;
    padding: 25px 0 0 0;
    overflow: visible;
    opacity: 0.9;
    .priceLow {
      font-size: 20px;
      font-weight: 700;
    }

    .priceBasic {
      text-decoration: line-through;
    }
  }
}
