@import "../../../styles/settings.scss";

.root {
  padding-bottom: 50px;

  h2 {
    margin: 50px 0;
    font-weight: 700;
  }

  .article {
    border: 3px solid red;
  }

  .post {

    h3 {
      font-weight: 500;
      padding-bottom: 15px;
      span {
        padding-left: 30px;
        font-size: 35px;
        font-weight: 700;
      }
    }
    
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
   
    p {
      font-size: 20px;
      padding: 20px 0;
      width: 100%;
    }
  }

  .postFooter { 
    border-top: 2px solid $featureBox-border-color;
    border-bottom: 2px solid $featureBox-border-color;
    padding: 10px;
    width: 100%;
    margin-left: 0;
    margin-bottom: 35px;

    button {
      width: 100%;
      text-align: left;
      padding-left: 0;
      background-color: $button-text-color;
      border: hidden;

      span {
        padding-left: 10px;
        color: $featureBox-border-color;
        font-weight: 600;
      }

      h6 {
        color: $featureBox-border-color;
        font-weight: 600;
      }
    }
  }

  .menuBlog {

    .search {
      div > input {
        width: 100%;
        float: left;
        padding: 10px;
        margin-bottom: 60px;
        border: 2px solid $featureBox-border-color;
        border-radius: 3px;
      }
    }

    h3 {
      width: 100%;
      border-bottom: 3px solid $featureBox-border-color;
      padding-bottom: 5px;
      margin-top: 60px;
      margin-right: 70px;
    }

    ul {
      width: 100%;
      list-style-type: none;
      padding-left: 0;
      margin-right: 70px;
      
      li {
      width: 100%;
      border-bottom: 2px solid $featureBox-border-color;
      padding: 10px 0;
      color: $menuBar-boxShadow;
      cursor: grab;
      text-decoration: none;
      }
    }
    
    button {
      width: 100%;
      text-align: left;
      background-color: $button-text-color;
      border: hidden;
      text-decoration: none;
     
      span {
        padding-left: 10px;
      }
    }
  }
}

@media (max-width: 767px) {
  .root {
    .postFooter {      
      button {
        margin-right: 15px;
      }
    }
    .recentPosts {
      li {
        font-size: 12px;
      }
    }

    .menuBlog {
      button, h3 {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 576px) {
  .root {
    .search {
      display: none;
    }

    .recentPosts {
      li {
        font-size: 10px;
      }
    }

    .menuBlog {
      button, h3 {
        font-size: 12px;
      }
    }

  }
}