@import "../../../styles/settings.scss";

.root {
  background-color: $topBar-background;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 55px;

      a {
        color: $topBar-text;
        font-size: 13px;

        &:hover {
          color: $topBar-text--hover;
          text-decoration: none;
        }
      }
    }
  }

  .topOptions ul li {
    margin-right: 1.5rem;

    .icon {
      margin-left: 5px;
    }
  }

  .topMenu ul li {
    margin-left: 1.5rem;

    .icon {
      margin-right: 5px;
    }
  }
}

@media (max-width: 767px) {
  .topMenu ul li a {
    visibility: hidden;
    font-size: 0px;

    .icon {
      visibility: visible;
      font-size: 12px;
    }
  }
}
