@import "../../../styles/settings.scss";

.root {
  background-color: $topBar-background;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 55px;

      button, a {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: inline;
        margin: 0;
        padding: 0;
        color: $topBar-text;
        font-size: 13px;
        text-decoration: none;

        &:hover {
          color: $topBar-text--hover;
        }
      }
    }
  }

  /* lang/currency options: 2nd tier */
	ul ul {
		display: none;
		position: absolute;
    top: 70%;
    transform: translateX(-15%);
		min-width: 100px;

		li {
			display: block;
      padding-left: 15px;
			text-align: center;
      line-height: 2;

			button, a {
				background-color: transparent;
        border: none;
        cursor: pointer;
        display: inline;
        margin: 0;
        padding: 0;
        color: $topBar-text;
        text-decoration: none;

        &:hover {
          color: $topBar-text--hover;
        }
			}
		}
	}

	li:hover ul {
		display: block;
    background: $topBar-list-background-onHover;
    z-index: 1;
	}

  .topOptions ul li {
    margin-right: 1.5rem;

    .icon {
      margin-left: 5px;
    }
  }

  .topMenu ul li {
    margin-left: 1.5rem;

    .icon {
      margin-right: 5px;
    }
  }
}

@media (max-width: 767px) {
  .topMenu ul li button {
    visibility: hidden;
    font-size: 0px;

    .icon {
      visibility: visible;
      font-size: 12px;
    }
  }
}
