@import '../../../styles/settings.scss';

.root {
  background-color: bisque;

  .leftWrapper {
    background-color: burlywood;
    img { height: 10%; width: 20%;}
  }

  .rightWrapper {
    background-color: cyan;
    img { height: 10%; width: 20%;}
  }
}
