@import '../../../styles/settings.scss';

.root {
  padding: 3rem 0;

  .wrapperLarge {
    position: relative;
    padding: 0;
    height: 400px;
    width: 700px;

    .imgLarge {
      height: 95%;
      width: 90%;
      object-fit: cover;
    }
  }

  .wrapperSmall {
    position: relative;
    height: 190px;
    width: 550px;
    align-items: center;

    img {
      height: 100%;
      width: 550px;
      object-fit: cover;

      .imgBed {
        background-color: #fcf3f8;
      }
    }


  }
}
