$base-padding: 24px;

// HOVER VARIABLES
$actionDuration: 250ms;
// two types of icon movement are available: shake, rotate
$hover-animationType: shake;

// !!!!!!!!!!!!!!
// GLOBAL COLORS - DO NOT USE BELOW VARIABLES IN THE CODE - FOLLOW PATTERN IN GLOBAL NAMES SECTION
// !!!!!!!!!!!!!!

// names taken from https://www.color-name.com/
// should you change/add colors, use website above for standardized naming convention

$color-tigersEye: #D58E32;
$color-CharlestonGreen: #2a2a2a;
$color-CharlestonGreen-opaque: rgba(42, 42, 42, 0.7);
$color-jet: #363636;
$color-PhilippineSilver: #b6b6b6;
$color-LavenderBlush: #fcf3f8;
$color-ChineseWhite: #e1e1e1;
$color-bestWhite: #fffdfa;
$color-white: #fff;
$color-black: #000;
$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

$color-alert: red;

// GLOBAL NAMES

// button
$button-text-color: $color-white;
$button-background-color: $color-CharlestonGreen;
$button-background-color--hov: $color-tigersEye;
$button-outline-color: $color-CharlestonGreen;
$button-fav-background: $color-tigersEye;
$button-fav-color: $color-CharlestonGreen;

// feature box
$featureBox-border-color: $color-PhilippineSilver;
$featureBox-content: $color-CharlestonGreen;
$featureBox-icon-color: $color-CharlestonGreen;
$featureBox-icon-background: $color-white;
$featureBox-activeIcon-color: $color-white;
$featureBox-activeIcon-background: $color-tigersEye;
$featureBox-activeIcon-text: $color-tigersEye;

// product box
$productBox-background: $color-white;
$productBox-border: $color-ChineseWhite;
$productBox-photo-background: $color-PhilippineSilver;
$productBox-sale-background: $color-CharlestonGreen;
$productBox-sale-text: $color-white;
$productBox-itemName: $color-tigersEye;
$productBox-starRating: $color-CharlestonGreen;
$productBox-longLine: $color-CharlestonGreen;
$productBox-shortLine: $color-tigersEye;
$productBox-oldPrice: $color-PhilippineSilver;

// brands
$brands-sectionOutline: $color-PhilippineSilver;

// Promoted
$promoted-panelBar: $color-jet;
$promoted-titleBar: $color-white;
$promoted-dot: $color-ChineseWhite;
$promoted-activeDot: $color-tigersEye;
$promoted-dotsInactive: $color-ChineseWhite;
$promoted-dotsActive: $color-tigersEye;
$promoted-shadowWrapper: $color-jet;
$promoted-shadowTitle: $color-white;
$promoted-shadowSubtitle: $color-white;
$promoted-buttonsWrapper: $color-white;
$promoted-button: $color-CharlestonGreen;
$promoted-mainButton: $color-white;

// Promoted product box
$promotedProductBox-background: $color-white;
$promotedProductBox-border: $color-ChineseWhite;
$promotedProductBox-photo-background: $color-PhilippineSilver;
$promotedProductBox-sale-background: $color-CharlestonGreen;
$promotedProductBox-sale-text: $color-white;
$promotedProductBox-timeBarItem: $color-white;
$promotedProductBox-timeBarItemBack: $color-CharlestonGreen;
$promotedProductBox-buttons: $color-black;
$promotedProductBox-stars: $color-CharlestonGreen;
$promotedProductBox-itemName: $color-tigersEye;
$promotedProductBox-starRating: $color-CharlestonGreen;
$promotedProductBox-longLine: $color-CharlestonGreen;
$promotedProductBox-shortLine: $color-tigersEye;
$promotedProductBox-oldPricetext: $color-CharlestonGreen;
$promotedProductBox-backgroundHover: $color-tigersEye;

// deals
$deals-imgBed-background: $color-LavenderBlush;

// new furniture
$newFuriniture-mainUnderline: $color-ChineseWhite;
$newFuriniture-sectionUnderline: $color-tigersEye;
$newFuriniture-furnitureMenu: $color-CharlestonGreen;
$newFuriniture-activeUnderline: $color-tigersEye;
$newFuriniture-dotsBackground: $color-white;
$newFuriniture-dotsInactive: $color-ChineseWhite;
$newFuriniture-dotsActive: $color-tigersEye;

// product search
$productSearch-form-main: $color-CharlestonGreen;
$productSearch-form-icon: $color-tigersEye;
$productSearch-list-bg--hover: $color-bestWhite;

// company claim
$companyClaim-background: $color-jet;
$companyClaim-phone: $color-ChineseWhite;
$companyClaim-cartIcon: $color-white;
$companyClaim-cardBackground: $color-tigersEye;
$companyClaim-cardCounter: $color-ChineseWhite;

// footer
$footer-background: $color-jet;
$footer-categories: $color-white;
$footer-subcategories: $color-PhilippineSilver;
$footer-subcategories--hover: $color-tigersEye;
$footer-socials-background: $color-CharlestonGreen;
$footer-socials-copyright: $color-PhilippineSilver;
$footer-socials-icons: $color-PhilippineSilver;
$footer-socials-icons--hover: $color-tigersEye;
$footer-claim-bg: $color-CharlestonGreen;

// menu bar
$menuBar-background: $color-white;
$menuBar-background--active: $color-tigersEye;
$menuBar-text: $color-CharlestonGreen;
$menuBar-text--active: $color-white;
$menuBar-boxShadow: $color-black;

// top bar
$topBar-background: $color-CharlestonGreen;
$topBar-list-background-onHover: $color-CharlestonGreen-opaque;
$topBar-text: $color-ChineseWhite;
$topBar-text--hover: $color-tigersEye;

// product page
$productPage-cart-background: $color-tigersEye;
$productPage-cart-background-hover: $color-CharlestonGreen;
$productPage-icon-background: $color-white;
$productPage-icon-color: $color-black;
$productPage-divider: $color-PhilippineSilver;
$productPage-oldPrice: $color-PhilippineSilver;

// chatBot
$chatBot-button-background: $color-CharlestonGreen;
$chatBot-button-color: $color-white;
$chatBot-button--hover: $color-tigersEye;
$chatBot-window: $color-tigersEye;
$chatBot-window-background: $color-white;
$chatBot-window-message: $color-tigersEye;
$chatBot-window-icon: $color-tigersEye;
$chatBot-iconBox-background: $color-PhilippineSilver;
$chatBot-iconBox-border: $color-tigersEye;
$chatBot-iconBox--hover: $color-tigersEye;
$chatBot-texarea: $color-tigersEye;
$chatBot-texarea--focus: $color-ChineseWhite;

// lastPost
$lastPost-body-background: $color-white;
$lastPost-title: $color-black;
$lastPost-title-hover: $color-tigersEye;

// latestBlog
$latestBlog-panelBar-border: $color-ChineseWhite;
$latestBlog-title: $color-tigersEye;
$latestBlog-title-underline: $color-tigersEye;
$latestBlog-dotsBackground: $color-white;
$latestBlog-dotsInactive: $color-ChineseWhite;
$latestBlog-dotsActive: $color-tigersEye;


// product list page (shop)
$productList-bannerMenu-background: $color-PhilippineSilver;
$productList-bannerMenu-activeLocation: $color-tigersEye;

// keyframes definitions - DO NOT EDIT

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
