@import "../../../styles/settings.scss";

.root {

  .photo {
    position: relative;
    background: {
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;
    width: 100%;
    height: 280px;
  }

  .body {
    background-color: $color-white;
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
    padding: 20px;
    transform: translateY(-50px);
    font-size: 12px;

    h4 {
      text-align: left;
      padding-top: 10px;
    }

    h4 a {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 1px;
      color: $color-black;
      &:hover {
        color: $color-tigersEye;
        text-decoration: none;
      }
    }

    .description {
      text-align: justify;
    }
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .button {
    margin-top: 20px;
  }
}
