@import "../../../styles/settings.scss";

.root {
  border: 1px solid $productSearch-form-main;
  display: inline-flex;
  height: 45px;
  color: $productSearch-form-main;

  .category {
    border-right: 1px solid $productSearch-form-main;
    display: flex;
    align-items: center;
    position: relative;

    &:hover ul {
      display: block;
      height: 37px;
    }

    .icon:first-child {
      color: $productSearch-form-icon;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    ul {
      -webkit-appearance: none !important;
      background-color: transparent !important;
      padding: 5px 30px 5px 35px;
      position: relative;
      transform: translateY(9px);
      font-size: 14px;

      &:hover{
        transform: translateY(12px);
      }

      li {
        display: none;
        background-color: $productSearch-list-bg--hover !important;
        font-size: 14px;
        font-weight: 400;

        &:hover {
          background-color: $color-tigersEye !important;
        }
      }

      &:hover li {
        display: block;
      }

    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $productSearch-form-main;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
