@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;

    &:hover ul {
      display: block;
    }

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    .category-list {
      position: absolute;
      right: 0;
      left: 0;
      z-index: 0;
    }

    ul {
      -webkit-appearance: none !important;
      background-color: transparent !important;
      padding: 5px 30px 5px 35px;
      position: relative;
      transform: translateY(25%);
      font-size: 14px;
      z-index: 1;

      li {
        display: none;
        background-color: transparent !important;
        font-size: 14px;
        font-weight: 300;

        &:hover {
          background-color: $primary !important;
        }
      }

      &:hover li {
        display: block;
      }

    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
