@import "../../../styles/settings.scss";

.root {
  padding: 5.8rem 0;

  &:hover {
    a {
      text-decoration: none;
    }
  }
}

.container {
   margin: 0 auto;
   width: 100%;
 }

 @media (max-width: 998px) {
   .root {
     padding: 7.1rem 0;
   }
 }
