@import "../../../styles/settings.scss";

.root {
  border: 1px solid $featureBox-border-color;
  text-align: center;
  margin-top: 40px;

  .iconWrapper {
    height: 60px;
    transform: translateY(-50%);
    color: $featureBox-icon-color;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .icon {
      position: relative;
      z-index: 9;
      transition: $actionDuration;
    }

    &::before {
      content: "";
      border: 1px solid $featureBox-border-color;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 76px;
      height: 76px;
      border-radius: 100%;
      background-color: $featureBox-icon-background;
      z-index: -1;
    }

    &::after {
      content: "";
      width: 60px;
      height: 60px;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid $featureBox-border-color;
    }
  }

  .content {
    text-transform: uppercase;
    color: $color-CharlestonGreen;
    margin-top: -0.5rem;
    letter-spacing: 1px;
    font-weight: 300;
    transition: $actionDuration;

    h5, p {
      position: relative;
    }

    h5::after, p::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: $featureBox-activeIcon-background;
      transition: width $actionDuration ease-in-out;
    }

    h5 {
      font-weight: 600;
      margin: 0;
    }
  }

  &:hover {
    cursor: pointer;

    h5::after, &:hover p::after {
      width: 33%;
    }

    .iconWrapper {
      color: $featureBox-activeIcon-color;

      .icon {
        animation: $featureBox-animationType $actionDuration;
        font-size: 1.1rem;
      }

      &::after {
        background-color: $featureBox-activeIcon-background;
        border-color: $featureBox-activeIcon-background;
      }
    }

    .content {
      color: $featureBox-activeIcon-text;
    }
  }
}
