@import "../../../styles/settings.scss";

.root {
  background-color: $promotedProductBox-background;
  border: 1px solid $promotedProductBox-border;
  margin: 0;

  .title {
    color: white;
    width: 100%;
    height: 45px;
    background-color: $footer-claim-bg;
    display: flex;
    flex-direction: row;
  }
  .title > h5 {
    margin: 10px 0 0 15px;
    font-weight: 600;
    flex: 0 0 45%;
  }

  .photo {
    position: relative;
    padding: 0;
    background: {
      color: $promotedProductBox-photo-background;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    &:hover {
      .buttons {
        opacity: 0.9;
        transition: 0.5s ease;
      }
      .timeBar {
        opacity: 0.9;
        transition: 0.5s ease;
      }
    }

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $promotedProductBox-sale-background;
      border-radius: 50%;
      color: $promotedProductBox-sale-text;
      padding: 30px 15px 5px 15px;
    }

    .timeBar {
      position: absolute;
      padding: 0 30px;
      top: 175px;
      height: 60px;
      width: 100%;
      z-index: 90;
      background-color: transparent;
      opacity: 0;

     .timeBarItem {
      display: block;
      margin: 0;
      padding: 3px 0 0;
      height: 60px;
      text-align: center;
      color: $promotedProductBox-timeBarItem;
      border-radius: 50%;
      background-color: $promotedProductBox-timeBarItemBack;

        .number {
          margin: 7px 0 0;
          font-size: 1.6rem;
          line-height: 1;
        }

        .unit {
          font-size: 0.7rem;
        }
      }
    }

    .buttons {
      position: absolute;
      top: 50px;
      height: 50px;
      left: 50%;
      transform: translateX(-50%);
      color: $promotedProductBox-buttons;
      padding: 30px 15px 5px 15px;
      opacity: 0;
    }

   img {
      height: 300px;
      width: 100%;
      object-fit: cover;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $promotedProductBox-itemName;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: $promotedProductBox-stars;
        background-color: transparent;
        border: none;
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $promotedProductBox-longLine;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $promotedProductBox-shortLine;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .price {
    display: flex;
    justify-content: space-between;
    align-items: center;

	.oldPrice {
	  color: grey;
	  text-decoration: line-through $promotedProductBox-oldPricetext;
	  padding-right: 5px;
	  font-size: 13px;
	  font-weight: 400;
	}

  &:hover {
    .price > div {
      background-color: $promotedProductBox-backgroundHover;
    }
    .buttons {
      visibility: visible;
    }

  }
}

}
