@import "../../../styles/settings.scss";

.root {

  .container {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .leftWrapper {
    position: relative;
    padding: 0;
    // height: 800px;
    // width: 700px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .rightWrapper {
    position: relative;
    padding: 0;
    // height: 600px;
    // width: 700px;
  }

  .imageWrapper {
    position: relative;
    height: 700px;
    width: 100%;
    padding: 0;
    object-fit: cover;
    margin-top: 5px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .priceTitle {
    position: absolute;
    height: 70px;
    width: 100%;
    font-weight: 700;
    top: 130px;
    // margin-left: 60px;
    // margin-top: -540px;
    font-size: 25px;
    padding: 0;
    span {
      color:green;
      font-size: 50px;
      font-weight: 600;
      padding-left: 15px;

    margin-top: -580px;



      font-weight: 600;
      padding-left: 15px;

    }
  }

  .priceSubtitle {
    position: absolute;
    // margin-left: 60px;
    // margin-top: -490px;
    padding-left: 20px;
    top: 200px;
    width: 100%;
    font-size: 55px;

    color: $color-tigersEye;
    font-weight: 600;
  }

  .greenButton {
    position: absolute;

    padding: 12px 0 0 35px;
    width: 180px;
    height: 50px;
    margin-top: -410px;

    margin-left: 60px;
    background-color: green;
    font-weight: 600;
    font-size: 20px;


    :hover {
      color: $color-tigersEye;
      text-decoration: none;
    }

  }
}

@media (max-width: 750px) {
  .rightGrid{
    display: none;
  }
}

