@import "../../../styles/settings.scss";

.root {
  .footerMenu {
    background-color: $footer-background;
    padding: 3rem 0;

    .menuWrapper {
      h6 {
        color: $footer-categories;
        text-transform: uppercase;
        margin: 0 0 1rem 0;
      }

      ul {
        margin: 0 0 1.5rem 0;
        padding: 0;
        list-style: none;
        li {
          button {
            font-size: 14px;
            line-height: 30px;
            color: $footer-subcategories;
            border: none;
            background-color: transparent;

            &:hover {
              color: $footer-subcategories--hover;
              cursor: pointer;
            }
          }
        }
      }
    }

    .paymentMethods {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
      }
    }
  }

  .container {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .containerTwo {
    text-align: center;
  }

  .images {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: auto;
    }
  }

  .bottomBar {
    background-color: $footer-socials-background;

    :global(.container) > :global(.row) {
      height: 95px;
    }

    .copyright {
      p {
        margin: 0;
        color: $footer-socials-copyright;
        font-size: 14px;
        line-height: 26px;
        text-align: left;
      }
    }

    .empty {
      color: rgb(169, 169, 169);
    }

    .socialMedia {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: right;
        li {
          display: inline-block;
          margin-left: 1rem;

          button {
            color: $footer-socials-icons;
            background-color: transparent;
            border: none;
            svg:hover {
              color: $footer-socials-icons--hover;
              animation: $hover-animationType $actionDuration;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
