@import "../../../styles/settings.scss";

.root {
  margin: 20px 20px 0 20px;
  color: rgba(0, 0, 0, 0.7);

  .wrapper {
    width: 100%;
    min-height: 50vh;
    border: 1px solid #555;

    .list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: block;

      .item {
        display: inline-block;
        border-bottom: 1px solid #555;
        border-right: 1px solid #555;
        padding: 10px;
        text-transform: uppercase;

        font-weight: 600;
        cursor: pointer;
      }
      li.active {
        display: inline-block;
        color: $primary;
        padding: 10px;
        border-right: 1px solid #555;
        text-transform: uppercase;

        font-weight: 700;
        cursor: pointer;
      }
    }
  }

  .form {
    padding-left: 50px;
    padding-right: 50px;
  }

  .buttonAdd {
    font-weight: bold;
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 0;
    transition: all 0.5s;
    &:hover {
      background-color: $primary;
    }
  }

  .stars {
    display: inline;
    margin: 0 10px 0 10px;
  }

  .ratingText {
    margin-top: 16px;
  }

  .rating {
    margin: 0 0 20px 0;
    padding: 50px;
  }

  .textarea {
    width: 100%;
    resize: none;
  }

  .inputs {
    margin: 20px 0 50px 0;
    display: flex;
    justify-content: space-between;

    input {
      min-height: 50px;
      min-width: 40%;
    }
  }

  .continue {
    color: #fff;
    background-color: black;
    padding: 0 5px;
    line-height: 50px;
    align-content: center;
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
    &:hover {
      color: $primary;
      background-color: #fff;
    }
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  .root .inputs {
    flex-direction: column;
    align-items: center;

    .continue {
      width: 50%;
      text-align: center;

      &:hover {
        font-weight: bolder;
      }
    }
  }

  input {
    width: 100%;
    margin: 20px 0;
  }
}
