@import "../../../styles/settings.scss";

.image {
  height: 70px;
  width: 70px;
}

.imageShadow {
  height: 70px;
  width: 70px;
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: silver;
    opacity: 0.6;
    z-index: 101;
  }

}
